@font-face {
    font-family: 'beaufortb';
    src: url('fonts/beaufort-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src: url('fonts/georgia.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Georgiab';
    src: url('tuturuma/fonts/georgiab.ttf')format('truetype');
}
@font-face {
    font-family: 'vilamorena';
    src: url('tuturuma/fonts/morena.ttf')format('truetype');
}